/* Cambia el fondo de la página */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

/* Estiliza el encabezado */
h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
}

/* Estiliza el párrafo */
p {
    color: #555555;
    font-size: 1.2em;
    text-align: center;
}

/* Estiliza el botón */
button{
    background-color: #00ff08; /* Color verde */
    color: white;
    padding: 10px 20px;
    border: #f0f8ff;
    border-radius: 20px;
    cursor: pointer;
}

/* Cambia el color del botón al pasar el ratón por encima */
button:hover {
    background-color: #42a3aa;
}

